.container {
  height: 400;
  width: 800;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}


.cell {
  color: white;
  text-align: center;
  background-color: gold;
}

.cell:nth-child(1) {
  grid-column: span 12;
}

.cell:nth-child(n+2):nth-child(-n+3) {
  grid-column: span 6;
}

.cell:nth-child(n+4):nth-child(-n+6) {
  grid-column: span 4;
}

.cell:nth-child(n+7):nth-child(-n+10) {
  grid-column: span 3;
}

.cell:nth-child(n+11):nth-child(-n+16) {
  grid-column: span 2;
}