h1 {
  color: cadetblue;
}

h2, caption {
  color: blue;
}

.destacado, .especial, td strong{
  color: orange;
}

a {
  color: red;
}
a em {
  color: blue;
}

span {
  color: mediumslateblue;
}

th{
  color: red;
}

td {
  color: green;
}

p strong {
  color: red;
}

table, thead, tr, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

#adicional {
  color: olive;
}