body {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

h1 {
  margin: 2rem;
}

.container {
  text-align: center;
}

#categoria {
  font-weight: 800;
}

.vertical-center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palabra {
  display: flex;
  flex-direction: row;
  width: min-content;
}

.letras {
  /* visibility: hidden; */
  padding: 0.3rem;
}

.btnLetra {
  width: 3rem;
  height: 3rem;
  margin: 0.2rem;
}

#letrasElegir,
#imgAhorcado,
#palabra {
  margin-bottom: 2rem;
}