.container {
  display: grid;
  grid-template-columns: 10% repeat(3, 30%);
  grid-template-rows: 10% 40% 30% 10%;
}

header {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

nav {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.img1 {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

/* .img2 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.img3 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.img4 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.img5 {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
} */
footer {
  grid-column: 1 / 5;
  grid-row: 4 / 5;
}



.img1,
.img2,
.img3,
.img4,
.img5 {
  width: auto;
  display: inline-block;

  border: 1px solid #aaaaaa;
  border-radius: 1em;
  padding: 1em;
  text-align: center;

}

.img3,
.img4,
.img5 {
  justify-self: end;
  width: 90%;
}

.img1 img {
  width: 30%;
  height: auto;
}

.img2 img,
.img3 img,
.img4 img,
.img5 img {
  width: 20%;
  height: auto;
}