{% load static %}
<html>

<head>
    <title>Django blog</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:4000" rel="\stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <div class="container">
        <header>
            <div class="nav-left">
                <h1><a href="/">Django blog</a></h1>
            </div>
            <div class="nav-right">
                <a href="{% url 'post_new' %}">Nuevo Blog Post</a>
            </div>
        </header>
        {% if user.is_authenticated %}
        <p>Hola {{user.username}}</p>
        <p><a href="{% url 'logout' %}">Salir</a></p>
        {% else %}
        <p>No estás logueado.</p>
        <a href="{% url 'login' %}">Entrar</a>
        {% endif %}
    </div>
    {% block content %}
    {% endblock content %}
</body>

</html>